* {
  margin: 0px;
  
}

.titulo {
  color: #333232;
  
  top: 40px;
  left: 40px;
  z-index: 1;
  position: absolute;
}
.titu3{
    color: #333232;
    font-size:smaller;
  width: 50%;
  top: 120px;
  left: 40px;
  right: 500px;
  z-index: 1;
  position: absolute;
}
.titu4{
margin-top: 10px;
color: #333232;
  
  top: 80px;
  left: 40px;
  right: 500px;
  z-index: 1;
  position: absolute;


}
h2{
    font-size: small;
}
.centrado {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
}

li {
  display: inline-block;
  margin: 0 20px; /* Ajusta el margen para separar los elementos */
  font-weight: 400;
  font-size: x-large;
}

a{
    color: #adda8c;
    font-weight: bolder;
}


li a {
  color: #171717;
  text-decoration: none;
}

li a:hover{
color: rgb(83, 85, 85);
}

.video-fondo {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: -1;
}

.encabezado {
  position: sticky;
  z-index: 1;
  text-align: center; /* Agrega esto para centrar el contenido del header */
  background: linear-gradient(to left, #d4f094, #87fcd5a6, #6df3b0);
}

.encabezado ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; /* Cambia a inline-block para que se centre */
  

}

.imagen-derecha {
  padding-left: 200px; /* ajusta el valor según sea necesario */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1eded;
  
  
  font-family: "Inter", sans-serif!important;
  font-optical-sizing: auto!important;
  font-weight: weight!important;
  font-style: normal!important;
}


.bodyy{
background-color: #f1eded;

}

.marco{
border-radius: 4px;
margin-left: 40px;
    margin-top: 30px;

border: #26eb7fbb solid;
background-color: #ffffff;

}
.titu, .titu2 {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  max-width: 50%; /* Ajusta el ancho máximo según tus necesidades */

}
.cal{
    margin-left: 40px;
    margin-top: 30px;
}

.imagen1{
border-radius: 4px;
margin-top: 30px;

}

.footer{
  background: linear-gradient(to left, #d4f094, #87fcd5a6, #6df3b0);
  margin-top: 40px;
}

.footer2{
  font-weight: 900;
}

.margen{
  margin-left: 5px;
}
.tamano{
font-size: larger;
text-decoration: underline;

}
.pregunta{
  margin-left: 40px;
}